page-home {
  
  font: 100% Helvetica, sans-serif;
  .title{// h1 //
  *{
        font-family: mytitle3;
        font-size: 30px;          
    }
    text-align: center;
  }
    
  button{ //login button 
      border: 1.5px solid rgb(109, 163, 32);  
      width:170px;   
        *{
          font-family: mytitle1;
        }       
    }

  .textbox {
      margin-top: 3px;
      background-color: rgb(248, 248, 242);
      padding-left: 10px;
      height: 20px;
      font-size:16px;
      border-radius: 11px;
      border: 1px solid rgb(233, 231, 231);     
      font-style: italic;            
    }

  .text{
      margin-top: 16px;
      text-decoration-line: inherit;
      font-size:14px;
      color: rgb(122, 121, 121);
      text-align: center;
      margin-bottom: -8px;
      font-weight: bold; 
    }

    ion-card {   
      color: map-get($colors, primary);
      text-align: center;
  
  }

  .card-background-page{ 
    background-image: url("../assets/img/myImage4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center bottom;
    background-size: auto;
    background-color: black;
  }
   
}

 
  
 