page-chat {
	 
	.innerMessage {	 
		border-radius: 20px;
		padding: 4px 15px;
		background: color($colors, 'primary');
		margin: 3px;
		color: rgb(252, 252, 252);		
	}

	.innerMessage.messageRight {
		background: color($colors, 'secondary');
	}

	.username {	
		font-size: 75%;
		color: rgb(27, 27, 27);
	}

	.message {
		font-size: 129%;
		font-weight: bold;		 
	}

	ion-input{	           // input box   
		
		border-radius: 11px;	 
		font-size: 160%;	 
		flex:1;
		border:0.8px solid  rgb(113, 148, 118);	 
		border-left:5px solid rgb(250, 99, 99);
		background:rgb(247, 248, 230);
		margin-left: 10px;
	}

	.elem button {       // sent button
	    border-radius: 35px;
	    position: absolute;	     
		height: 88%;		
		 margin-left: 20px;
	}

	.elem {
		position: relative;
		min-width: 86px;
 
	}
	div#footer div.elem:first-child {
	    flex-grow: 1;
	}
	div#footer {
	    display: flex;
	    flex-direction: row;
	    align-items: stretch;
	}

	ion-toolbar {
		margin: 0;
		padding: 0!important;
	}

	.message:after {
		content: '';
		display: block;
		clear: both;
	}

	.messageLeft {
		float: left;
	}

	.messageRight {
		float: right;
	}

	.message.special .innerMessage .messageContent{
		background: rgb(240, 240, 240);
		display: inline-block;
		padding: 15 15px;
	}

	.message.special .innerMessage:before{
		content: '';
		z-index: -1;
		height: 0.5px;
		background: rgb(224, 224, 224);
		display: block;
		position: absolute;	 
		width: 89%;	
	 
	}

	.message.special .innerMessage{
		background: transparent;
		color: rgb(71, 66, 66);
		font-size: 70%;
		width: 110%;
		float: none;
		text-align: center;
		position: relative;
	}

} 
 