chatRoomPage {	 
	 .title{	 
		text-shadow: 2px 2px 5px black;
		
	}

	.innerMessage {	 	 
		padding: 4px 19px;	
		margin: 3px;
		color: rgb(252, 252, 252);	
		*{
			font-family: mytitle2;
		}
		font-size: 129%;
		font-weight: bold;
	}
 
	.innerMessage.messageRight {
		background: color($colors, 'secondary');
		border-top-left-radius: 20px;
		border-top-right-radius: 12px;
		border-bottom-left-radius: 20px;
		float: right; 		 
	}

	.innerMessage.messageLeft {
		background: color($colors, 'primary');		
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 12px;		
		float: left;
	}

	.username {	
		font-size: 75%;
		color: rgb(51, 51, 51);
		font-style: oblique;
	 
	}

	ion-content{
		/*
	    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(8, rgb(253, 252, 246)),
        color-stop(0.51, rgb(255, 251, 231))
	);*/
	background-image: url("../assets/img/roomWall.jpg");
	}

	ion-input{	           // input box   
		
		border-radius: 11px;	 
		font-size: 160%;	 
		flex:1;
		border:0.8px solid  rgb(113, 148, 118);	 
		border-left:5px solid rgb(250, 99, 99);
		background:rgb(247, 248, 230);
		margin-left: 10px;
		
	}

	.elem button {       // sent button
	    border-radius: 35px;
	    position: absolute;	     
		height: 88%;		
		 margin-left: 20px;
	 
	}

	.elem {
		position: relative;
		min-width: 86px;
		background-color: rgb(192, 192, 192);
	}

	div#footer div.elem:first-child {
	    flex-grow: 1;
	}

	div#footer {
	    display: flex;
	    flex-direction: row;
	    align-items: stretch;
	}

	ion-toolbar {
		margin: 0;
		padding: 0!important;
		 
	}

	.message:after {
		content: '';
		display: block;
		clear: both;
		
	}

	.message.special .innerMessage .messageContent{
		background: rgb(155, 155, 155);
		display: inline-block;
		border-radius: 311px;
		padding-left: 10px;
		padding-right: 10px;		
	}

	.message.special .innerMessage:before{ //line
		content: '';
		height: 0.5px;
        background: rgb(202, 200, 200);
        display: block;  
        width: 100%;
        left: 0;
        position: absolute;
		z-index: -1;
	 
	}

	.message.special .innerMessage{ // line font
		background: transparent;
		color: rgb(253, 238, 238);
		font-size: 70%;
		width: 100%;
		float: none;
		text-align: center;
	 
	}

} 
 